<div class="modal fade" id="delConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete {{#if isMember}}Member{{else}}Record{{/if}}</h5>
        <button type="button" id="close_modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><span>Press Delete {{#if isMember}}Member{{else}}Record{{/if}} to delete the record.<br>NOTE: This action cannot be undone!</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel_modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="confirm_delete">Delete {{#if isMember}}Member{{else}}Record{{/if}}</button>
      </div>
    </div>
  </div>
</div>