<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        <title> Disciples Christian Church </title>
        <link rel="shortcut icon" type="image/jpg" href="../images/church_logo.png"/>

        <base href="/">
        
        {{!-- Bootstrap Library --}}
        <link rel="stylesheet" type="text/css" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

        {{!-- Fontawesome Library --}}
        <link rel="stylesheet" href="/fontawesome/css/all.css">

        {{!-- Selectize CSS--}}
        <link rel="stylesheet" type="text/css" href="/selectize/css/selectize.bootstrap4.css">

        {{!-- DataTables CSS --}}
        <link rel="stylesheet" type="text/css" href="/datatables/datatables.css">
        {{#each styles}}
        <link rel="stylesheet" type="text/css" href="/css/{{this}}.css">
        {{/each}}
    </head>
    <body>
        
        {{{body}}}
        {{!-- Bootstrap --}}
        <script src="./bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js">
        </script>
        {{!-- Fontawesome --}}
        <script src="/fontawesome/js/all.js"></script>
        {{!-- JQuery --}}
        <script src="/scripts/jquery-3.6.0.min.js"></script>
        <script src="/scripts/validator.min.js"></script>
        <script src="/selectize/js/standalone/selectize.min.js"></script>
        <script src="/datatables/datatables.js"></script>
        <script src="/scripts/moment.js"></script>
        <script src="/scripts/datetime-moment.js"></script>
        <script src="//cdn.datatables.net/plug-ins/1.11.4/sorting/formatted-numbers.js"></script>
        {{#each scripts}}
        <script type="text/javascript" src="/scripts/{{this}}.js"></script>
        {{/each}}
    </body>
</html>