{{>navbar}}
<form id="prenup_form" action="/create_prenup_member" method="POST" class="container"> 
  <div class="container" style="padding-left: 20%; padding-right: 20%;">
    <div class="row d-flex justify-content-between">
      <div class="col-8"><h1 class="my-3" id="title"> Add Prenuptial Form </h1></div>
      <div class="col-4 align-self-end"><p style="text-align:end; margin:0;"> <span style="color: red;">*</span> - required</p></div>
    </div>
    <hr style="margin-top: 0;">
    <div class="row">
      <div class="col">
        <legend>Bride</legend>
        <hr>
        {{#if lockBrideNonMember}}
        <input type="radio" id="bride_non_member" onclick="display_div_bride('bride_non_member')" disabled> Non-member
        {{else}}
        <input type="radio" id="bride_non_member" onclick="display_div_bride('bride_non_member')"> Non-member
        {{/if}}
        <input class="mb-3" type="radio" id="bride_member" onclick="display_div_bride('bride_member')" checked disabled> Member
        <div id="bride_member_div" style="display:block">
          <label>Select Bride <span style="color: red;">*</span></label>
          <select name="input_bride_member" id="input_bride_member">
            {{>dropdown brideNames}}
          </select>
        </div>
        <fieldset class="form-group" id="bride_non_member_div" style="display:none">
          <div class="div">
            <div class="row">
              <div class="col-12">
                <label for="bride_first_name">First Name</label>
                <input type="text" id="bride_first_name" name="bride_first_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="bride_mid_name">Middle Initial</label>
                <input type="text" id="bride_mid_name" name="bride_mid_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="bride_last_name">Last Name</label>
                <input type="text" id="bride_last_name" name="bride_last_name"class="form-control">
              </div>
            </div>
          </div>
        </fieldset>
        <p id="bride_info_error" class="error_codes"> </p>
        <p id="bride_middle_len_error" class="error_codes"> </p>
        <p id="bride_middle_error" class="error_codes"> </p>
      </div>
      <div class="col">
        <legend>Groom</legend>
        <hr>
        {{#if lockGroomNonMember}}
        <input type="radio" id="groom_non_member" onclick="display_div_groom('groom_non_member')" disabled> Non-member
        {{else}}
        <input type="radio" id="groom_non_member" onclick="display_div_groom('groom_non_member')"> Non-member
        {{/if}}
        <input class="mb-3" type="radio" id="groom_member" onclick="display_div_groom('groom_member')" checked disabled> Member

        <div id="groom_member_div" style="display:block">
          <label>Select Groom <span style="color: red;">*</span></label>
          <select name="input_groom_member" id="input_groom_member" >
            {{>dropdown groomNames}}
          </select>
        </div>
        
        <fieldset class="form-group" id="groom_non_member_div" style="display:none">
          <div class="div">
            <div class="row">
              <div class="col-12">
                <label for="groom_first_name">First Name</label>
                <input type="text" id="groom_first_name" name="groom_first_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="groom_mid_name">Middle Initial</label>
                <input type="text" id="groom_mid_name" name="groom_mid_name" class="form-control">
              </div>
              <div class="col-12">
                <label for="groom_last_name">Last Name</label>
                <input type="text" id="groom_last_name" name="groom_last_name"class="form-control">
              </div>
            </div>
          </div>
        </fieldset>
        <p id="groom_info_error" class="error_codes"> </p>
        <p id="groom_middle_error" class="error_codes"> </p>
        <p id="groom_middle_len_error" class="error_codes"> </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <label for="current_date">Current Date</label>
        <input type="date" id="current_date" name="current_date" class="form-control">
        <p id="current_date_error" class="error_codes"> </p>
      </div>
      <div class="col">
        <label for="wedding_date">Planned Wedding Date <span style="color: red;">*</span></label>
        <input type="date" id="wedding_date" name="wedding_date" class="form-control">
        <p id="wedding_date_error" class="error_codes"> </p>
      </div>
    </div>
    <button id="create-prenup" type="button" class="btn btn-primary mt-3" onclick="checkMemberBoxesAndDate()">Submit</button>
  </div>
</form>