{{>navbar}}

<div id="maindiv" class="container maindiv d-flex justify-content-center align-items-center">
  <div class="row  d-flex justify-content-middle">
    <div class="col-12 pt-3 d-flex justify-content-center">
      <a href="#" class="mainBtns" id="view_attendance_link">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title buttonText">View attendance</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 pt-3 d-flex justify-content-center">
      <a href="add_attendance" class="mainBtns">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title buttonText">Add attendance</h5>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 pt-3 d-flex justify-content-center">
      <a href="#" class="mainBtns" id = "edit_attendance_link">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title buttonText">Edit attendance</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>