{{#if level}}
    {{> navbar}}
{{else}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <div class="d-flex flex-row">
            <a class="navbar-brand mx-3" href="/login_page">Disciple Christian Church | Level {{ level }}</a>
        </div>
    </nav>
{{/if}}

<section>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-12">
                <h1 style="text-align: center; margin-bottom: 0.5em">ERROR {{status.code}}</h1>
            </div>
            <div class="col-12">
                <h3 style="text-align: center;">{{status.message}}</h1>
            </div>
        </div>
    </div>
</section>