{{>navbar}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>

<body>
  <div class="row">
    <div class="col-lg-12" id="header-div">
        <p id="statistics-text">Statistical Reports</p>
        <p id="date-range"></p>
        <div id="date-picker-container">
          <div id="starting-date-container">
            <p class="date-text">Starting date</p>
            <input type="date" id="starting-date">
          </div>
          <div id="ending-date-container">
            <p class="date-text">Ending date</p>
            <input type="date" id="ending-date">
          </div> 
        </div>
        <p id ='error-msg' style="display: none;"></p>
        <button type="button" class="btn btn-primary" id="change-date-btn">Change Date</button>
    </div>
  </div>
  
  <div id="charts-container">

    {{!-- First row --}}
    <div class="row charts-row" id="first-row">
      <div class="card" style="width: 32em;" id="chart-1"> 
        <div class="card-body">
          <div class="card-title-container">
            <h5 class="card-title">Member Type Record</h5>
          </div>
          <div class="no-data-container">
            <p style="display: none;" id="no-data-member-type" class="no-data-found"> No data found </p>
          </div>      
          <canvas id="pie-chart-member-type" width="800" height="600"></canvas>
          <div style="height:500px; display:none;" id='filler-div-1'> </div>
        </div>
      </div>
      
      <div class="card" style="width: 32em;" id="chart-2"> 
        <div class="card-body">
          <div class="card-title-container">
            <h5 class="card-title">Member Status Record</h5>
          </div>
          <div class="no-data-container">
            <p style="display: none;" id="no-data-member-status" class="no-data-found"> No data found </p>
          </div> 
          <canvas id="bar-chart-member-status" width="800" height="800"></canvas>
          <div style="height:500px; display:none;" id='filler-div-2'> </div>
        </div>
      </div>
    </div>

    {{!-- Second row --}}
    <div class="row charts-row" id="second-row">
      <div class="card" style="width: 69em;" id="chart-6"> 
        <div class="card-body">
          <div class="card-title-container">
            <h5 class="card-title">Attendance Record</h5>
          </div>
          <div class="no-data-container">
            <p style="display: none;" id="no-data-attendance" class="no-data-found"> No data found </p>
          </div>
          <canvas id="line-chart" width="800" height="350"></canvas>
           <div style="height:500px; display:none;" id='filler-div-3'>  </div>
        </div>
      </div>
    </div>

 
 {{!-- Third row --}}
  <div class="row charts-row" id="third-row" style="display: none;">
      <div class="card" style="width: 69em;" id="chart-3">
        <div class="card-body">
          <div class="card-title-container">
            <h5 class="card-title"> Annual Events Record</h5>
          </div>
          <div class="no-data-container">
            <p style="display: none;" id="no-data-events-line" class="no-data-found"> No data found </p>
          </div>
          {{!-- <canvas id="pie-chart-events" width="800" height="800"></canvas> --}}
          <canvas id="line-chart-events" width="800" height="350" style="display: none;"></canvas>
          <div style="height:500px;display:none;" id='filler-div-5'> </div>
        </div>
      </div>
    </div>
 {{!-- Fourth row --}}
  <div class="row charts-row" id="fourth-row">
      <div class="card" style="width: 32em;" id="chart-4"> 
        <div class="card-body">
          <div class="card-title-container">
            <h5 class="card-title">Events Record</h5>
          </div>
          <div class="no-data-container">
            <p style="display: none;" id="no-data-events-bar" class="no-data-found"> No data found </p>
          </div> 
          {{!-- <canvas id="pie-chart-events" width="800" height="800"></canvas> --}}
          <canvas id="bar-chart-events" width="800" height="800"></canvas>
          <div style="height:500px;display:none;" id='filler-div-4'> </div>
        </div>
      </div>
    </div>
  </div>
</body>




