@import url(fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background: url(../images/sky.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#card {
    max-width: 38em; 
    border:none;
}
.cardrow {
    position: relative;
    bottom:2.5em;
}
#header {
    font-size: 60pt;
    font-weight: 800;
    text-shadow: 2px 2px 8px #000000;
    color: aliceblue;
    text-align: center;
    font-family: JuliusSansPro
}

.logo {
    height: 8em;
    width: 8em;
}

.col {
    padding: 0;
}

.row {
    margin: 0;
}

.logocol {
    width: fit-content;
}


.logoText {
    font-family: SourceSansPro;
    font-size: 24pt;
    color: aliceblue;
    text-shadow: 2px 2px 5px #000000;
    width: 10em;
    line-height: 1.2;
}

p {
    font-family: SourceSansPro;
    font-size: 20pt;
}

#password{
    width: 15em; 
    margin:auto; 
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    height:3em; 
}

#div-log-in{
    margin-top:1em
}

#log-in-btn{
    margin: 0 auto;
    text-align:center;
    border-radius: 15px;
    outline:none;
    border-color: #FBCEB5;
    width: 15em;
    height:3em; 
    background: rgba(251, 206, 181, 0.95);
    backdrop-filter: blur(4px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-width: 1px;
}

#proceed-text{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    margin-top:2em;
}

#member-reg-btn{
    margin: 0 auto;
    text-align:center;
    border-radius: 15px;
    outline:none;
    border-color: #FBCEB5;
    width: 15em;
    height:3em; 
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(4px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-width: 1px;
    margin-top:0.5em;
}